* {
  font-family: Arial, sans-serif;
  font-style: normal;
  list-style: none;
  margin: 0;
}

body {
  padding: 0;
  //background-color: #ffffff;
  background-color: #36404A;
  height: 100%;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
}